<head>
</head>
<body class="container">
<main>
       
         <h2>Welcome! Are you Administrator or Client?</h2>
<a type="button" href="/api/home/client" class="btn btn-primary btn-lg btn-block" >I'm Client!</a>
<a type="button" href="/api/home/carts.hbs" class="btn btn-secondary btn-lg btn-block">I'm Administrator!</a>
    </main>






    <footer>
       {{>footer}}
    </footer>
